<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tools for UXers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.0.2/dist/bulma-tooltip.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        #backToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
        }

        #stepsLabel label {
            color: #ffffff;
        }
    </style>
</head>

<body>
    <!--Entry Section-->
    <section>
        <div class="hero is-fullheight is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-centered">Welcome! Here's my collection of useful tools for UXers</h1>
                    <div class="columns">
                        <div class="column is-one-third"></div>
                        <div class="column is-one-third">
                            <div class="buttons is-centered">
                                <button class="button is-rounded" onclick="scrollToView('colorConverter')">Color
                                    Converter</button>
                                <button class="button is-rounded" onclick="scrollToView('colorMixer')">Color
                                    Mixer (Gradient)</button>
                            </div>
                        </div>
                        <div class="column is-one-third"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Back To Top Button-->
    <button onclick="backToTop()" id="backToTopBtn" title="Back to top"
        class="button is-info  has-tooltip-info has-tooltip-arrow" data-tooltip="Back To Top">
        <span class="icon is-medium">
            <i class="fas fa-arrow-up"></i>
        </span>
    </button>


    <!--Color Converter-->

    <section>
        <div class="hero is-fullheight" id="colorConverter" v-bind:style="{backgroundColor: currentColor}">
            <div class="hero-body">

                <div class="container">
                    <h2 class="title has-text-centered">Color Converter</h2>
                    <div class="columns">
                        <div class="column is-one-third"></div>
                        <div class="column is-one-third">
                            <b-field label="RGB">
                                <b-input v-model="rgbInput" v-on:input="convertColors('rgb')"></b-input>
                            </b-field>
                            <b-field label="HEX">
                                <b-input v-model="hexInput" v-on:input="convertColors('hex')"></b-input>
                            </b-field>
                            <b-field label="HSL">
                                <b-input v-model="hslInput" v-on:input="convertColors('hsl')"></b-input>
                            </b-field>
                            <b-field label="HWB">
                                <b-input v-model="hwbInput" v-on:input="convertColors('hwb')"></b-input>
                            </b-field>
                            <b-field label="CMYK">
                                <b-input v-model="cmykInput" v-on:input="convertColors('cmyk')"></b-input>
                            </b-field>
                        </div>
                        <div class="column is-one-third"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Color Mixer-->
    <section>
        <div class="hero is-fullheight" id="colorMixer" style="background-color:#808080;">
            <div class="hero-body">
                <div class="container">
                    <h2 class="title has-text-centered has-text-white">Color Mixer (Gradient)</h2>
                    <div class="columns">
                        <div class="column is-one-third"></div>
                        <div class="column is-one-third">
                            <div class="columns">
                                <div class="column" v-bind:style="{backgroundColor: color1Input}">
                                    <b-field label="Color1">
                                        <b-input v-model="color1Input" v-on:input="updateGradients"></b-input>
                                    </b-field>
                                </div>
                                <div class="column" v-bind:style="{backgroundColor: color2Input}">
                                    <b-field label="Color2">
                                        <b-input v-model="color2Input" v-on:input="updateGradients"></b-input>
                                    </b-field>
                                </div>
                            </div>
                            <b-field label="Steps" id="stepsLabel">
                                <b-slider :min="1" :max="10" ticks v-model="stepsInput" v-on:input="updateGradients">
                                </b-slider>
                            </b-field>
                            <div class="buttons has-text-centered">
                                <div class="button" v-for="gradient in gradients"
                                    v-bind:style="{ backgroundColor: gradient.gradient}"
                                    v-on:click="copyColor(gradient.gradient)">
                                    {{gradient.gradient}}</div>
                            </div>
                        </div>
                        <div class="column is-one-third"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Scroll To View Script-->
    <script>
        function scrollToView(viewId) {
            var elmnt = document.getElementById(viewId);
            elmnt.scrollIntoView({ block: "start", inline: "nearest", behavior: "smooth" });
        }
    </script>

    <!--BackToTop Button Script-->
    <script>

        //Get the button
        var mybutton = document.getElementById("backToTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function backToTop() {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        }

    </script>
    <!--Color Converter Vue-->
    <script>
        var colorConvert = new Vue({
            el: "#colorConverter",
            data: {
                rgbInput: "129,216,208",
                hexInput: "#81d8d0",
                hslInput: "174,53%,68%",
                hwbInput: "174,51%,15%",
                cmykInput: "40%,0%,4%,15%",
                currentColor: "#81d8d0"
            },
            methods: {
                convertColors: function (caller) {
                    switch (caller) {
                        case "rgb":
                            var newHex = this.rgbToHEX(this.rgbInput);
                            if (newHex !== this.currentColor) {
                                this.hexInput = newHex;
                                this.hslInput = this.hexToHSL(newHex);
                                this.hwbInput = this.hexToHWB(newHex);
                                this.cmykInput = this.hexToCMYK(newHex);
                                this.currentColor = newHex;
                            }
                            break;
                        case "hex":
                            if (this.hexInput !== this.currentColor) {
                                this.rgbInput = this.hexToRGB(this.hexInput);
                                this.hslInput = this.hexToHSL(this.hexInput);
                                this.hwbInput = this.hexToHWB(this.hexInput);
                                this.cmykInput = this.hexToCMYK(this.hexInput);
                                this.currentColor = this.hexInput;
                            }
                            break;
                        case "hsl":
                            var newRGB = this.hslToRGB(this.hslInput);
                            var newHex = this.rgbToHEX(newRGB);
                            if (newHex !== this.currentColor) {
                                this.hexInput = newHex;
                                this.rgbInput = newRGB;
                                this.hwbInput = this.hexToHWB(newHex);
                                this.cmykInput = this.hexToCMYK(newHex);
                                this.currentColor = newHex;
                            }
                            break;
                        case "hwb":
                            var newRGB = this.hwbToRGB(this.hwbInput);
                            var newHex = this.rgbToHEX(newRGB);
                            if (newHex !== this.currentColor) {
                                this.hexInput = newHex;
                                this.rgbInput = newRGB;
                                this.hslInput = this.rgbToHSL(newRGB);
                                this.cmykInput = this.rgbToCMYK(newRGB);
                                this.currentColor = newHex;
                            }
                            break;
                        case "cmyk":
                            var newRGB = this.cmykToRGB(this.cmykInput);
                            var newHex = this.rgbToHEX(newRGB);
                            if (newHex !== this.currentColor) {
                                this.hexInput = newHex;
                                this.rgbInput = newRGB;
                                this.hslInput = this.rgbToHSL(newRGB);
                                this.hwbInput = this.rgbToHWB(newRGB);
                                this.currentColor = newHex;
                            }
                    }

                },
                hexToRGB: function (hexInput) {
                    /* Check for # in front of the value, if it's there, strip it */
                    if (hexInput.substring(0, 1) == '#') {
                        hexInput = hexInput.substring(1);
                    }

                    /* conver hex values to decimals*/
                    if (hexInput.length == 3) {
                        var r = parseInt(hexInput.charAt(0) + hexInput.charAt(0), 16);
                        var g = parseInt(hexInput.charAt(1) + hexInput.charAt(1), 16);
                        var b = parseInt(hexInput.charAt(2) + hexInput.charAt(2), 16);
                    } else {
                        var r = parseInt(hexInput.substring(0, 2), 16);
                        var g = parseInt(hexInput.substring(2, 4), 16);
                        var b = parseInt(hexInput.substring(4), 16);
                    }

                    return r + "," + g + "," + b;
                },

                rgbToHEX: function (rgbInput) {
                    var r = parseInt(rgbInput.split(",")[0], 10);
                    var g = parseInt(rgbInput.split(',')[1], 10);
                    var b = parseInt(rgbInput.split(",")[2], 10);
                    var hexR = r.toString(16);
                    if (hexR.length == 1) {
                        hexR = hexR + hexR;
                    }
                    var hexG = g.toString(16);
                    if (hexG.length == 1) {
                        hexG = hexG + hexG;
                    }
                    var hexB = b.toString(16);
                    if (hexB.length == 1) {
                        hexB = hexB + hexB;
                    }
                    var hexInput = "#" + hexR + hexG + hexB;
                    return hexInput
                },

                rgbToHSL: function (rgbInput) {
                    var r = parseInt(rgbInput.split(",")[0], 10);
                    var g = parseInt(rgbInput.split(',')[1], 10);
                    var b = parseInt(rgbInput.split(",")[2], 10);
                    var r1 = r / 255;
                    var g1 = g / 255;
                    var b1 = b / 255;

                    var cMax = Math.max(r1, g1, b1);
                    var cMin = Math.min(r1, g1, b1);
                    var delta = cMax - cMin;

                    /*calculate hue*/
                    if (delta == 0) {
                        var h = 0;
                    } else if (cMax == r1) {
                        var h = 60 * ((g1 - b1) / delta % 6);
                    } else if (cMax == g1) {
                        var h = 60 * ((b1 - r1) / delta + 2);
                    } else if (cMax == b1) {
                        var h = 60 * ((r1 - g1) / delta + 4);
                    }
                    h = Math.round(h);
                    if (h < 0) {
                        h = 360 + h;
                    }

                    /*calculate lightness*/
                    var l = (cMax + cMin) / 2;

                    /*calculate saturation*/
                    if (delta == 0) {
                        var s = 0;
                    } else {
                        if (l < 0.5) {
                            var s = (cMax - cMin) / (cMax + cMin);
                        } else {
                            var s = (cMax - cMin) / (2 - cMax - cMin);
                        }
                    }
                    l = Math.round(l * 100);
                    s = Math.round(s * 100);

                    var hslInput = h + "," + s + "%," + l + "%";
                    return hslInput
                },

                hslToRGB: function (hslInput) {
                    var hue = parseInt(hslInput.split(",")[0], 10);
                    var sat = parseInt(hslInput.split(",")[1].slice(0, -1), 10) / 100;
                    var light = parseInt(hslInput.split(",")[2].slice(0, -1), 10) / 100;
                    var t1, t2, r, g, b;
                    hue = hue / 60;
                    if (light <= 0.5) {
                        t2 = light * (sat + 1);
                    } else {
                        t2 = light + sat - (light * sat);
                    }
                    t1 = light * 2 - t2;
                    r = Math.round(this.hueToRGB(t1, t2, hue + 2) * 255);
                    g = Math.round(this.hueToRGB(t1, t2, hue) * 255);
                    b = Math.round(this.hueToRGB(t1, t2, hue - 2) * 255);
                    var rgbInput = r + "," + g + "," + b;
                    return rgbInput
                },

                hueToRGB: function (t1, t2, hue) {
                    if (hue < 0) hue += 6;
                    if (hue >= 6) hue -= 6;
                    if (hue < 1) return (t2 - t1) * hue + t1;
                    else if (hue < 3) return t2;
                    else if (hue < 4) return (t2 - t1) * (4 - hue) + t1;
                    else return t1;
                },

                hexToHSL: function (hexInput) {
                    var rgbInput = this.hexToRGB(hexInput);
                    var hslInput = this.rgbToHSL(rgbInput);
                    return hslInput
                },

                rgbToHWB: function (rgbInput) {
                    var h, w, bl;
                    var r = parseInt(rgbInput.split(",")[0], 10);
                    var g = parseInt(rgbInput.split(',')[1], 10);
                    var b = parseInt(rgbInput.split(",")[2], 10);
                    var r1 = r / 255;
                    var g1 = g / 255;
                    var b1 = b / 255;
                    var cMax = Math.max(r1, g1, b1);
                    var cMin = Math.min(r1, g1, b1);
                    var delta = cMax - cMin;
                    /*calculate hue*/
                    if (delta == 0) {
                        var h = 0;
                    } else if (cMax == r1) {
                        var h = 60 * ((g1 - b1) / delta % 6);
                    } else if (cMax == g1) {
                        var h = 60 * ((b1 - r1) / delta + 2);
                    } else if (cMax == b1) {
                        var h = 60 * ((r1 - g1) / delta + 4);
                    }
                    h = Math.round(h);
                    if (h < 0) {
                        h = 360 + h;
                    }
                    var w = Math.round(cMin * 100);
                    var bl = Math.round((1 - cMax) * 100);
                    var hwbInput = h + "," + w + "%," + bl + "%";
                    return hwbInput
                },

                hwbToRGB: function (hwbInput) {
                    var h = parseInt(hwbInput.split(",")[0], 10);
                    var w = parseInt(hwbInput.split(",")[1].slice(0, -1), 10) / 100;
                    var bl = parseInt(hwbInput.split(",")[2].slice(0, -1), 10) / 100;
                    var i, rgb, rgbArr = [], tot;
                    var rgbInput = this.hslToRGB(h + ",100%" + ",50%");
                    var r = parseInt(rgbInput.split(",")[0], 10);
                    var g = parseInt(rgbInput.split(',')[1], 10);
                    var b = parseInt(rgbInput.split(",")[2], 10);
                    rgbArr[0] = r / 255;
                    rgbArr[1] = g / 255;
                    rgbArr[2] = b / 255;
                    tot = w + bl;
                    if (tot > 1) {
                        w = Number((w / tot).toFixed(2));
                        bl = Number((bl / tot).toFixed(2));
                    }
                    for (i = 0; i < 3; i++) {
                        rgbArr[i] *= (1 - (w) - (bl));
                        rgbArr[i] += (w);
                        rgbArr[i] = Number(rgbArr[i] * 255);
                    }
                    rgbInput = Math.round(rgbArr[0]) + "," + Math.round(rgbArr[1]) + "," + Math.round(rgbArr[2]);
                    return rgbInput
                },

                hexToHWB: function (hexInput) {
                    var rgbInput = this.hexToRGB(hexInput);
                    var hwbInput = this.rgbToHWB(rgbInput);
                    return hwbInput
                },

                rgbToCMYK: function (rgbInput) {
                    var c, m, y, k;
                    var r = parseInt(rgbInput.split(",")[0], 10);
                    var g = parseInt(rgbInput.split(',')[1], 10);
                    var b = parseInt(rgbInput.split(",")[2], 10);
                    var r1 = r / 255;
                    var g1 = g / 255;
                    var b1 = b / 255;
                    var cMax = Math.max(r1, g1, b1);
                    var k = 1 - cMax;
                    if (k == 1) {
                        c = 0;
                        m = 0;
                        y = 0;
                    } else {
                        c = (1 - r1 - k) / (1 - k);
                        m = (1 - g1 - k) / (1 - k);
                        y = (1 - b1 - k) / (1 - k);
                    }
                    c = Math.round(c * 100);
                    m = Math.round(m * 100);
                    y = Math.round(y * 100);
                    k = Math.round(k * 100);
                    var cmykInput = c + "%," + m + "%," + y + "%," + k + "%";
                    return cmykInput
                },

                cmykToRGB: function (cmykInput) {
                    var c, m, y, k
                    var r, g, b;
                    c = parseInt(cmykInput.split(",")[0].slice(0, -1), 10) / 100;
                    m = parseInt(cmykInput.split(",")[1].slice(0, -1), 10) / 100;
                    y = parseInt(cmykInput.split(",")[2].slice(0, -1), 10) / 100;
                    k = parseInt(cmykInput.split(",")[3].slice(0, -1), 10) / 100;

                    r = Math.round(255 - ((Math.min(1, c * (1 - k) + k)) * 255));
                    g = Math.round(255 - ((Math.min(1, m * (1 - k) + k)) * 255));
                    b = Math.round(255 - ((Math.min(1, y * (1 - k) + k)) * 255));
                    var rgbInput = r + "," + g + "," + b;
                    return rgbInput
                },

                hexToCMYK: function (hexInput) {
                    var rgbInput = this.hexToRGB(hexInput);
                    var cmykInput = this.rgbToCMYK(rgbInput);
                    return cmykInput
                }
            }
        })
    </script>

    <!--Color Mixer Vue-->
    <script>
        var colorMix = new Vue({
            el: "#colorMixer",
            data: {
                color1Input: "#f5dbf6",
                color2Input: "#feebda",
                stepsInput: 1,
                gradients: [
                    { gradient: "#ffe0e1" }
                ]
            },
            methods: {
                updateGradients: function () {
                    this.gradients = this.generateGradients();
                },

                generateGradients: function () {
                    var r1, g1, b1, r2, g2, b2;
                    var generatedGradients = []
                    var rgb1 = this.hexToRGBValue(this.color1Input);
                    var rgb2 = this.hexToRGBValue(this.color2Input);
                    r1 = rgb1[0];
                    g1 = rgb1[1];
                    b1 = rgb1[2];
                    r2 = rgb2[0];
                    g2 = rgb2[1];
                    b2 = rgb2[2];

                    for (let i = 0; i < this.stepsInput; i++) {
                        let newR, newG, newB
                        newR = Math.round((r2 - r1) / (this.stepsInput+1) * (i + 1) + r1);
                        newG = Math.round((g2 - g1) / (this.stepsInput+1) * (i + 1) + g1);
                        newB = Math.round((b2 - b1) / (this.stepsInput+1) * (i + 1) + b1);

                        var hexR = newR.toString(16);
                        if (hexR.length == 1) {
                            hexR = hexR + hexR;
                        }
                        var hexG = newG.toString(16);
                        if (hexG.length == 1) {
                            hexG = hexG + hexG;
                        }
                        var hexB = newB.toString(16);
                        if (hexB.length == 1) {
                            hexB = hexB + hexB;
                        }

                        generatedGradients.push({ gradient: "#" + hexR + hexG + hexB });
                    }
                    return generatedGradients
                },

                hexToRGBValue: function (hexInput) {
                    /* Check for # in front of the value, if it's there, strip it */
                    if (hexInput.substring(0, 1) == '#') {
                        hexInput = hexInput.substring(1);
                    }

                    /* conver hex values to decimals*/
                    if (hexInput.length == 3) {
                        var r = parseInt(hexInput.charAt(0) + hexInput.charAt(0), 16);
                        var g = parseInt(hexInput.charAt(1) + hexInput.charAt(1), 16);
                        var b = parseInt(hexInput.charAt(2) + hexInput.charAt(2), 16);
                    } else {
                        var r = parseInt(hexInput.substring(0, 2), 16);
                        var g = parseInt(hexInput.substring(2, 4), 16);
                        var b = parseInt(hexInput.substring(4), 16);
                    }
                    console.log(r, g, b);
                    return [r, g, b]
                },

                copyColor: function (colorToCopy) {
                    navigator.clipboard.writeText(colorToCopy)
                        .then(() => {
                            // Success!
                        })
                        .catch(err => {
                            console.log('Something went wrong', err);
                        });
                }
            }
        })
    </script>

</body>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Designed with <span class="icon"><i class="fas fa-heart"></i></span> and Coded with <span.icon><i
                    class="fas fa-coffee"></i></span.icon> by <a href="https://www.guodong-zhao.com/"
                target="_blank">Guodong Zhao</a> <br />
        </p>
        <p>Buy me a <span.icon><i class="fas fa-coffee"></i></span.icon>coffee?</p>
        <div class="level" id="donateButtons">
            <div class="level-item">
                <a class="button is-light is-rounded is-info"
                    href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=333DADBVEF548&currency_code=USD&source=url"
                    target="_blank">
                    <span.icon></span.icon><i class="fab fa-paypal"></i></span.icon>Paypal
                </a>
                <button class="button is-light is-rounded is-success" @click="isWeChatActive = true">
                    <span.icon></span.icon><i class="fab fa-weixin"></i></span.icon>WeChat
                </button>
                <button class="button is-light is-rounded is-link" @click="isAlipayActive = true">
                    <span.icon></span.icon><i class="fab fa-alipay"></i></span.icon>Alipay
                </button>
            </div>

            <b-modal :active.sync="isWeChatActive" :width="640" scroll="keep">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="wechat_qr.png">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Thank you for your support! <br /> Scan using WeChat.
                        </div>
                    </div>
                </div>
            </b-modal>

            <b-modal :active.sync="isAlipayActive" :width="640" scroll="keep">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="alipay_qr.jpg">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Thank you for your support! <br /> Scan using Alipay.
                        </div>
                    </div>
                </div>
            </b-modal>
        </div>

        <script>
            const donate = {
                data() {
                    return {
                        isWeChatActive: false,
                        isAlipayActive: false
                    }
                }
            }

            const app = new Vue(donate)
            app.$mount('#donateButtons')
        </script>


    </div>
</footer>

</html>